/* Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --primary-color: var(--mid-tone);
  --secondary-color: var(--accent-two-color);
  --accent-color: rgba(25, 158, 72, 0.7);
  --accent-two-color: #f8f8f8;
  --base-tone: rgb(15, 15, 15);
  --mid-tone: #66666666;
  font: 20px/1.5 serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* application classes */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}

.content-title {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.content-block__list-item {
  background-color: var(--mid-tone);
  padding: 1rem;
  border-top: 2px solid black;
}

.content-block__list-item:last-child {
  border-bottom: 2px solid black;
}

.header {
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-around;
  grid-area: header;
}

.nav-menu {
  grid-area: nav;
}

.nav-menu__list {
  display: flex;
  flex-direction: column;
}

.navbar-list {
  display: flex;
}

.navbar-list__item a {
  color: var(--accent-two-color);
}

.navbar-list__item a:visited {
  color: var(--accent-two-color);
}

/* utility classes */

div.wrapper {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr 0.7fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.2fr;
  grid-template-areas:
    'header header header header'
    'aside main main nav'
    'aside main main nav'
    'footer footer footer footer';
  min-height: 100vh;
}

.footer {
  background-color: var(--base-tone);
  color: var(--accent-two-color);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}

.ratingDown-button {
  background-image: url('../images/thumbs_down_final.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.ratingUp-button {
  background-image: url('../images/Thumbs_up_final.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
